

body
{
	color: white;
}

div#clock_frame
{
	width: 100%;
}

span
{
    text-align: center;
    margin: 0 auto;
    padding: 12px 24px 12px 24px;
    border-radius: 10px;
    color: #fff;
	background-color: gray;
	opacity: 0.5;
	/* background: linear-gradient(260deg,#d9afd9,#97d9e1); */
	font-family: 'Roboto', sans-serif;
}


span#clock_time
{
	font-size: 5cm;
}
